

  /**/
  .btn {
    padding: .45rem 1.5rem .35rem;
  }
  
  .gradient-custom {
    /* fallback for old browsers */
    background: #c471f5;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(196, 113, 245, 1), rgba(250, 113, 205, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(196, 113, 245, 1), rgba(250, 113, 205, 1))
  }


  /***/

  a.vlink {
    color : #efefef;
    position:relative;
    height:7.5rem;
    width:5rem;
    text-align:center;
    line-height:54px;
    display:block;
    font-size:1.2rem;
  }
  a.vlink span {
    position : absolute;
    opacity: 0;
    transition : transform 400ms ease-out;
    margin-left:24px;
    box-shadow : 2px 4px 3px 1px rgba(0,0,0,0.2)
  }
  
  
  a.vlink span:before {
    content : '';
    display:block;
    width:0;
    height:0;
    position:absolute;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-right:8px solid #76174b;
    left:-12px;
    top:33%;
  }
  a.vlink span:hover {
    background : #aa9b16 !important;
  }
  a.vlink:hover {
    box-shadow : 1px 2px 3px #0c0401;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2825b+0,e55b2b+50,f07146+100;Red+3D+%232 */
    background: rgb(153, 43, 16); /* Old browsers */
    background: -moz-linear-gradient(left,  rgb(147, 41, 20) 0%, rgb(7, 3, 2) 50%, rgb(8, 3, 2) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgb(8, 5, 4) 0%,rgb(12, 7, 5) 50%,rgb(14, 7, 4) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgb(234, 80, 29) 0%,#dd3675 50%,rgb(234, 80, 29) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=1 ); /* IE6-9 */
  }
  
  a.vlink:hover span {
    opacity:1;
    width:120px;
    transform:translateX(12px);
    background : #ccc20c;
    font-size:16px;
    border-radius:6px;
    border-left:4px solid #c01592;
    padding : 0px 12px 0px 12px
  }
  
  ul {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ee7724 25%,#d8363a 50%, #dd3675 75%,#b44593 100% ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
    box-shadow :-6px 12px 5px 2px rgba(145,145,145,0.5)
  }


  .vlinkk {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally */
    text-align: center; /* Centers text horizontally */
  }
  