

<!--<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head> 
<body>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
	<a href="dashboard/product" class="navbar-brand"><i class="fa fa-linode"></i>shop<b>Bag</b></a>  		
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">		
		
		<div class="navbar-nav ml-auto">
      <li class="nav-item" style="margin-right: 40px;">
        <a href="dashboard/product" class="nav-link nav-item "><i class="fa fa-home" style="margin-top: -10px;"></i><span class="row">Home</span></a>
      </li>
      <li class="nav-item" *ngIf="getRole()=='SUPERADMIN'" style="margin-right: 40px;">
        <a href="/dashboard/user" class="nav-link nav-item "><i class="fa fa-users" style="align-items: center; margin-left: 23px;"></i><span class="row">View All User</span></a>
      </li>
      <li class="nav-item" style="margin-right: 40px;" *ngIf="getRole()=='BUYER'">
        <a href="/dashboard/product/cart" class="nav-link nav-item"><i class="fa fa-shopping-bag" style="align-items: center; margin-left: -5px;"></i><span class="row">Carts</span></a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()" style="margin-right: 15px;">
        <a href="/login" class="nav-link nav-item" (click)="logout()"><i class="fa fa-sign-out "></i><span class="row">Logout</span></a>
      </li>
    </div>
	</div>
</nav>
</body>
</html>-->

<!--<nav class="navbar navbar-expand-lg navbar-dark gradient-custom">
 
  <div class="container-fluid">
   
    <a class="navbar-brand" href="#">Navbar</a>

    
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fa fa-bars text-light"></i>
    </button>

    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link " aria-current="page" href="dashboard/product">
            <div>
              <i class="fa fa-home fa-lg mb-1"></i>
            </div>
            Home
          </a>
        </li>
        <li *ngIf="getRole()=='SUPERADMIN'" class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" href="dashboard/users">
            <div>
              <i class="fa fa-users fa-lg mb-1"></i>
              
            </div>
            View All User
          </a>
        </li>
        <li *ngIf="getRole()=='BUYER'" class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" href="/dashboard/product/cart">
            <div>
              <i class="fa fa-shopping-bag fa-lg mb-1"></i>
              
            </div>
          Carts
          </a>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item text-center mx-2 mx-lg-1">
          <a (click)="logout()" class="nav-link" href="/login">
            <div>
              <i class="fa fa-sign-out fa-lg mb-1"></i>
              
            </div>
            Logout
          </a>
        </li>
      </ul>
      

      
      <ul class="navbar-nav ms-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" href="#!">
            <div>
              <i class="fa fa-bell fa-lg mb-1"></i>
              <span class="badge rounded-pill badge-notification bg-dark">11</span>
            </div>
            Messages
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link" href="#!">
            <div>
              <i class="fa fa-globe-americas fa-lg mb-1"></i>
              <span class="badge rounded-pill badge-notification bg-dark">11</span>
            </div>
            News
          </a>
        </li>
      </ul>
      
     
    </div>
    
  </div>
 
</nav>-->


<div class="vh-100  align-items-center position-fixed start-0 top-0" style="height: 10rem; " role="navigation">
  <div class="p-2">
    <div id="mainNav">
      <ul class="list-unstyled rounded ms-2">
        <li><a class="vlink vlinkk rounded border-0" style="flex-direction: column;" href="dashboard/product"><i class="fa fa-truck icon"></i><h6>shopBag</h6></a></li>
        <li><a class="vlink rounded border-0" href="dashboard/product"><i class="fa fa-home"></i> <span>Home</span></a></li>
        <li *ngIf="getRole()=='SELLER'"><a class="vlink rounded border-0" href="dashboard/product/add"><i class="fa fa-plus-square"></i> <span>Add Product</span></a></li>
        <li *ngIf="getRole()=='SUPERADMIN'"><a class="vlink rounded" href="/dashboard/user"><i class="fa fa-users"></i> <span>Users</span></a></li>
        <li *ngIf="getRole()=='BUYER'"><a class="vlink rounded" href="dashboard/product/cart"><i class="fa fa-shopping-bag"></i> <span>Carts</span></a></li>
        <li *ngIf="isLoggedIn()"><a (click)="logout()" class="vlink rounded" href="/login"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
       
      </ul>
    </div>
  </div>
</div>

