<head>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<div class="py-5 container">
    <div class="container1">
      <div class="search-container">
        
        <input type="text" id="searchInput" placeholder="Search..." [(ngModel)]="searchQuery" (ngModelChange)="onSearch()" 
          #searchBox>
        <button type="button" id="searchButton" class="btn btn-primary" (click)="onSearch()">Search</button>
        <!--if shouldfilter is true then and only this x button is visible for reset-->
        <button type="button" id="resetFilterButton" class="btn btn-secondary"  *ngIf="shouldFilter"
        (click)="resetFilter()">x</button>
      </div>
      <button id="add-button" type="button" class="btn btn-primary" *ngIf="getRole()=='SELLER'"
        [routerLink]="['add']">Add new product</button>
    </div>
    
   

    <div class="container drop">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <div class="custom-dropdown">
                  <label for="categorySelect" class="dropdown-label">Select a Category:</label>
                  <select id="categorySelect" class="form-control" [(ngModel)]="selectedCategory" (change)="filterProductsByCategory()">
                     
                      <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
                  </select>
              </div>
          </div>
      </div>
  </div>
    
    
    
    <div class="container2">
      <div class="row hidden-md-up">
        <div *ngIf="products.length === 0">No products found.</div>
       
        
        <div class="col-md-4" *ngFor="let product of products; let i = index">
          <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            
            </div>
            <div class="card-body">
              <div class="container con1">
              <img [src]="'http://localhost:3000/'+product.productImage " class="img" alt="Item Image" />
              </div>
              <h5 class="card-title">{{product['name']}}</h5>
              <p class="card-text">Sellername : {{product['sellername']}}</p>
              <p class="card-text"> Rs. {{product['price']}}</p>
              <button  class="btn btn-outline-success"
              (click)="addToCart(product['_id'])">Add to Cart</button>
              <button  class="btn btn-outline-warning"
              (click)="imageBox('http://localhost:3000/'+product.productImage,product['name'],product['description'] )">Click here!</button>
              <button  class="btn btn-outline-danger" style="width: 250px" *ngIf="getRole()=='SELLER'" 
              (click)="deleteProduct(product['_id'])">Delete</button>
              <button style="width: 250px" *ngIf="getRole()=='SELLER'" 
              [routerLink]="product['_id'] + '/update'" class="btn btn-secondary">Update</button>
              
            </div>
           
          </div>
        </div>
      </div>
    </div>
  
  </div>
