

<!--<div class="add-course-container">
    <h2>Add new Product</h2>
    <div class="course-form">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  
        <div class="form-group">
          <label>Name</label>
          <input type="text" placeholder="Product name" formControlName="name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && formControls['name'].errors }" />
          <div *ngIf=" formControls['name'].errors" class="invalid-feedback">
            <div *ngIf="formControls['name'].errors['required']">Name is required</div>
          </div>
        </div>
  
        <div class="form-group">
          <label>Seller-name</label>
          <input type="text" placeholder="Product Sellername" formControlName="sellername" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && formControls['sellername'].errors }" />
          <div *ngIf=" formControls['sellername'].errors" class="invalid-feedback">
            <div *ngIf="formControls['sellername'].errors['required']">Sellername is required</div>
          </div>
        </div>
  
        <div class="form-group">
          <label>Price</label>
          <input type="text" placeholder="Product price" formControlName="price" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && formControls['price'].errors }" />
          <div *ngIf=" formControls['price'].errors" class="invalid-feedback">
            <div *ngIf="formControls['price'].errors['required']">Price is required</div>
          </div>
        </div>
  
        <div class="form-group">
          <label>Description</label>
          <input type="text" placeholder="Product description" formControlName="description" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && formControls['description'].errors }" />
          <div *ngIf=" formControls['description'].errors" class="invalid-feedback">
            <div *ngIf="formControls['description'].errors['required']">Description is required</div>
          </div>
        </div>
  
        <div class="form-group">
          <label>Thumbnail</label>
          <input type="file" class="form-control" formControlName="productImage" (change)="processImage($event)"
            [ngClass]="{ 'is-invalid': submitted && formControls['productImage'].errors }">
          <div *ngIf="submitted && formControls['productImage'].errors" class="invalid-feedback">
            <div *ngIf="formControls['productImage'].errors['required']">Thumbnail is required</div>
          </div>
        </div>
  
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary"  (click)="addProduct()">Add</button>
          <button type="submit" class="btn btn-secondary" routerLink="/dashboard/product">Back</button>
        </div>
  
      </form>
    </div>
  </div>-->

  <div class="add-course-container">
    <h2>Add new Product</h2>
    <div class="course-form">
  <form (ngSubmit)="addProduct()"  enctype="multipart/form-data">


    <div class="form-group">
      <label for="name">Product Name:</label>
      <input type="text"  placeholder="Product name"  class="form-control"
      id="name" name="name" [(ngModel)]="product.name" required>
      
    </div>
  
    <div class="form-group">
      <label for="sellername">Seller Name:</label>
      <input type="text" placeholder="Product Sellername"  class="form-control"
       id="sellername" name="sellername" [(ngModel)]="product.sellername" required >
      
    </div>
  
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="text" placeholder="Product price"  class="form-control"
       id="price" name="price" [(ngModel)]="product.price" required>
      
    </div>
  
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea placeholder="Product description"  class="form-control"
       id="description" name="description" [(ngModel)]="product.description" required></textarea>
     
    </div>
  
    <div class="form-group">
      <label for="productImage">Product Image:</label>
      <input type="file" class="form-control"  (change)="processImage($event)" 
       id="productImage" name="productImage" (change)="onFileSelected($event)" required>
       
    </div>

   
    
    <div class="form-group">
      <label for="category">Select Category:</label>
      <select  id="category" name="category" class="form-control" [(ngModel)]="product.category" required>
        <option value="">Select Category</option>
        <option>ELECTRONICS</option>
        <option>FASHION</option>
        <option>SPORTS</option>
      </select>
      
    </div>
  
    <button type="submit">Add Product</button>
  </form>
</div>
</div>
  
