<div *ngIf="isLoading" class="loader-container">
  <div class="spinner-border" role="status">
    <span class="sr-only" id="loading"></span>
  </div>
</div>
<div class="table-container" *ngIf="!isLoading">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th *ngFor="let data of userList">{{ data.name | titlecase }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">

        <td>{{ user.email }}</td>
        <td>{{ user.type }}</td>
        <!-- <td>
            <button class="btn btn-primary" (click)="deleteUser(user._id)">Delete User</button>
          </td>-->
      </tr>
    </tbody>
  </table>
</div>
<ng-template #template>
 
</ng-template>