.update-course-form {
    width: 40%;
    max-width: 100%;
    margin: auto auto;
    margin-bottom: 40px;
    margin-top: 30px;
    padding: 20px;
    height: 550px;
    background-color: #cbeaf8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .update-course-container h2 {
    text-align: center;
    color: rgb(35, 76, 157);
    margin-top: 40px;
  }
  
  .update-course-container .form-group label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .update-course-container .form-group input,
  .update-course-container .form-group textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .update-course-container .invalid-feedback {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .update-course-container .btn-primary {
    background-color: #0972b4;
    border: none;
    margin-top: 10px;
    width: 35%;
    float: left;
  }
  
  .update-course-container .btn-secondary {
    background-color: #0d0e0d;
    border: none;
    margin-top: 10px;
    width: 35%;
    float: right;
  }
  
  @media screen and (max-width: 768px) {
    .update-course-form {
      width: 90%;
    }
  }
  